@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@import "tailwindcss";

* {
  font-family: "Questrial", sans-serif !important;
}

::selection {
  color: rgb(232, 145, 47);
}
